.registration-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.registration-form__group {
  margin-bottom: 10px;
}

.registration-form__button {
  background-color: #575cba;
  color: white;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 100%;
}
.registration-form__add-button {
  @extend .registration-form__button;
  width: 50px;
  margin-left: 5px;
}
.registration-form__submit-button {
  @extend .registration-form__button;
}

.registration-form__button:hover {
  background-color: #ce4813;
}
.flex-layout-for-cva {
  display: flex;
  width: 100%;
}
