<form class="registration-form" [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="registration-form__group">
    <label class="registration-form__label">Имя</label><br />
    <app-input-wrapper formControlName="userFirstName"></app-input-wrapper>
  </div>

  <div class="registration-form__group">
    <label class="registration-form__label">Фамилия</label><br />
    <app-input-wrapper formControlName="userLastName"></app-input-wrapper>
  </div>

  <div class="registration-form__group">
    <label class="registration-form__label">Email</label><br />
    <app-input-wrapper formControlName="userEmail"></app-input-wrapper>
  </div>

  <div class="registration-form__group">
    <label class="registration-form__label">Логин</label><br />
    <app-input-wrapper formControlName="userLogin"></app-input-wrapper>
  </div>

  <div class="registration-form__group">
    <label class="registration-form__label">Пароль</label><br />
    <app-input-wrapper formControlName="userPassword"></app-input-wrapper>
  </div>

  <div class="registration-form__group" formArrayName="userPhones">
    <label class="registration-form__label">Телефон</label><br />
    <div class="flex-layout-for-cva" *ngFor="let phone of userPhonesFormArray; let i = index">
      <app-input-wrapper formControlName="{{ i }}"></app-input-wrapper>
      <button class="registration-form__add-button" *ngIf="i === userPhonesFormArray.length - 1" (click)="addPhone()">+</button>
    </div>
  </div>

  <div class="registration-form__group" formArrayName="userLanguages">
    <label class="registration-form__label">Предпочитаемый язык</label><br />
    @for(lang of userLanguagesFormArray; track $index){
    <div class="flex-layout-for-cva">
      <app-select-wrapper class="input-wrapper" [options]="languages" formControlName="{{ $index }}"></app-select-wrapper>
      <button class="registration-form__add-button" *ngIf="$last" (click)="addLanguage()">+</button>
    </div>
    }
  </div>
  <button class="registration-form__submit-button">Отправить</button>
</form>
